@import "variables";

.event-section {
  background-color: $secondary-bg;
  padding: 70px 78px;
}

.title-event {
  font-size: 40px;
  font-weight: 700px;
  color: $main-color;
  text-align: center;
  margin: 0;
}

.sum-event{
  max-width: 700px;
}

.schedule {
  background-color: white;
  border-radius: 44.24px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 50px;
}

.text-schedule {
  padding: 56.29px 0px 50.27px 56.29px;
}

.rundown {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  margin-top: 40px;
}

.date-schedule {
  color: $main-color;
  font-weight: 600;
  font-size: 27.15px;
  line-height: 40.72px;
  text-align: left;
  margin: 0;
}

.time-schedule {
  margin: 0;
  font-size: 30.16px;
  font-weight: 700;
  line-height: 45.25px;
  text-align: left;
}

.desc-schedule {
  font-size: 16.09px;
  font-weight: 300;
  line-height: 21.72px;
  text-align: left;
  margin: 0;
  max-width: 380px;
}

.btn-schedule {
  border-radius: $border-rad-btn;
  background-color: $main-color;
  color: white;
  font-family: Outfit;
  font-size: 15.08px;
  font-weight: 600;
  line-height: 22.62px;
  letter-spacing: -0.005em;
  padding: $padding-btn;
  border: none;
  margin-top: 44px;
}

.rundown-box {
  border-top: 2px solid $main-color;
  padding-top: 25px;
  width: 90%;
  h4 {
    font-size: 25.09px;
    font-weight: 800;
    line-height: 37.64px;
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 18.82px;
    font-weight: 300;
    line-height: 28.23px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,.swiper-button-prev {
  color: #fff;
  background-color: $main-color;
  padding: 8px;
  border-radius: 12px;
}

.carousel{
  margin: 23.13px 37px;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
